doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1 404 - СТРАНИЦА ПОТЕРЯЛАСЬ !!!
      p Но не переживайте, всё будет пучком
      img(src='/images/anime404.jpg')
